
@{
    Layout = null;
}

<!DOCTYPE html>


<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inicial</title>
    <link href="~/Content/css/boilerplate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/slyde.css" rel="stylesheet" type="text/css" />
    <!--
    Para saber mais sobre os comentários condicionais sobre as tags html na parte superior do arquivo:
    paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

    Se você estiver usando a compilação personalizada do modernizr (http://www.modernizr.com/), faça o seguinte:
    * insira o link para o seu js aqui
    * remova o link abaixo para o html5shiv
    * adicione a classe "no-js" às tags html na parte superior
    * você também pode remover o link para respond.min.js se tiver incluído o MQ Polyfill na sua compilação do modernizr
    -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="../../Scripts/respond.min.js"></script>
</head>
<body>

    <div class="top_azul">
        <h2>SEGI - Sistema Escolar de Gestão Integrado </h2>
        <div class="log">
            Bem vindo @User.Identity.Name! <br />
            <a href="#">Perfil </a> | <a href="#">Help </a>| <a href="#">Logout</a>
        </div><!-- Fim do log -->
    </div><!-- Fim do top -->


    <div class="gridContainer clearfix">

        <div id="LayoutDiv1">
            <h1>Bem vindo ao SEGI</h1>
            Use o Painel Inserir para acessar os modulos do sistema.
        </div>

        <div class="clear"></div>

        <div id="cx_sistemas">
            <!-- Inicio da caixa do sistemas -->

            <div class="cx secretaria">
                <div class="cx_secr">
                    <a href="/Aluno">
                        <h3>Secretaria</h3>
                        <center><img src="~/Content/img/sec.png" alt="Secretaria" ></center>
                    </a>
                </div>
            </div><!-- Fim da cx secretaria -->

            <div class="cx diretoria">
                <div class="cx_dir">
                    <a href="#">
                        <h3>Diretoria</h3>
                        <center><img src="~/Content/img/dir.png" alt="Diretoria"></center>
                    </a>
                </div>
            </div><!-- Fim da cx diretoria -->

            <div class="clear"></div>

            <div class="cx finaceiro">
                <div class="cx_fin">
                    <a href="#">
                        <h3>Financeiro</h3>
                        <center><img src="~/Content/img/fin.png" alt="Financeiro"></center>
                    </a>
                </div>
            </div><!-- Fim da cx finaceiro -->

            <div class="cx coordenacao">
                <div class="cx_cord">
                    <a href="#">
                        <h3>Coordenação</h3>
                        <center><img src="~/Content/img/cord.png" alt="Coordenação"></center>
                    </a>
                </div>

            </div><!-- Fim da cx cordenacao -->

        </div><!-- fim da caixa de sistemas -->

        <div class="clear"></div>
        <div class="LayoutDiv3">
            Copyright 2013 - Todos os direitos resevados.
            <center><a href="http://www.iservice-it.com/" title="iservice-it"><img src="~/Content/img/iservice.png" /></a></center>
        </div><!-- Fim  do Layou tDiv3-->
    </div><!-- Fim do gridContainer clearfix-->
</body>
</html>
